.heade{
   
    width: 1300px;
    height: 60px;
}
#brcr{
    position: absolute;
    left: 50px;
}
.neon{
    width: 1340px;
    
}
.neon2{
 
    width: 1340px;
    
}

#qer{
    position: absolute;
    margin-left: 600px;
    margin-top: 70px;
    height: 70px;
    width: 200px;
    background-color:#fd7676;
    border: none;
    border-radius: 20px;
    border-color: #f44545;
    color: white;

}
#div{
    margin-left: 150px;
    background-color: white;
}
.class{
    position: relative;
    padding: 30px;
    border-radius:30%;
}

.sec1{
    background-color:#fefdfd;
    height: 800px;
    padding-top: 100px;
}


.neon3{
    width: 300px;
    padding-top: 100px;
    padding-left: 150px;
  }
  pre{
    float: right;
    font-size: xx-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 100px;
    padding-right:90px;
}
h2{
    position: absolute;
    padding-left: 100px;
    padding-top: 100px;
    font-size: xx-large;
    font-weight: bolder;
    font-style: italic;
}
.neon4{
    padding-left: 900px;

}
ul{
    list-style-type: none;
    margin-left: 190px;
    padding: 0;
    
    
}

li{
    display: inline;
    color:#ff7474;
      
}
li{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    letter-spacing:1px;
    display: block;
    margin-left: 20px;
    float: left;
    padding: 20px;;
}

.link{
    color:#fd7676;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    text-decoration: none;
}
.link:hover{
   text-shadow: 0 0 3px #f44545;
   
}

 
.txtup{
    position: absolute;
    float: right;
    top: 20px;
    right: 70px;
    
 }

.txtup{
    border: none;
 }   

 .class:hover{
    width:230px ;   
}
.txtdown{
    position: absolute;
    margin-left: 890px;
    margin-top: 200px;
    border: none;
    background-color: rgb(127, 127, 127);
    width: 280px;
}
h2{
   
    font-size: 100px;
    color: #ff0178;
    text-shadow: 0 0 2px #34041b;
    font-family:cursive;
    top: 300px;
    left: 300px;
    text-decoration:underline;
   
}   

#bnm{
    position: absolute;
    height: 150px;
    width: 1390px;
    top: 350px;
    background-color: #f43e3e;
    opacity: 20%;
}
#jic{
    position: absolute;
    top: 700px;
    left: 300px;
    color: #ffffff;
    font-family:cursive;
    font-style: italic;
    
}
video{
   width: 1350px;
   height: auto; 
}

video{
    position: relative;
}
h3{
    position:absolute;
    bottom:-580px;
    left: 350px;
    font-size: xx-large;
    color: #000000;
    letter-spacing: 3px;

}

#opp{
    position: absolute;
    bottom:-970px;
    left: 250px;
    font-size: xx-large;
    color: #000000;
    
}
#wty{
    position: absolute;
    width: 150px;
    height: 50px;
    bottom: -750px;
    left: 600px;
    border: none;
    border-radius: 30px;
   color: black;
}
#wty:hover{
    background-color:white;
    opacity: 30%;
    
}
/*new2*/
#rot1{
    font-size:larger;
    margin-right: -10px;
    color: #000000;
  
}
#ton{
 position: absolute;
 
}
.skin{
    width: 350px;
    height: auto;
    padding-right: 500px;
    padding-bottom: 100px;
    margin-top: 40px;
    margin-left: 70px;
    padding-top: 50px;
}
.skin:hover{
    width: 400px;
}
a{
    color: #ff7474;
    text-decoration: none;  
}
a.hover{
    text-shadow: 0 0 5px #f44545;
}
#circle{
    margin-right: 250px;
    margin-left: 300px;
    margin-top: 60px;
    padding-right: 60px;

}
#pp{
    height: 100px;
    
    padding-bottom: 200px;
    
}
#cir1{
    border: none;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-right: 50px;
    
}
#tt{
    font-size:xx-large ;
    color: burlywood;
    margin-left: 60px;
    
}
#cir2{
    border: none;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-right:50px;
}

#cir3{
    border: none;
    width: 200px;
    height: 200px;
    border-radius: 100%;

}
#cir1:hover{
    opacity: 50%;

}
#cir2:hover{
    opacity: 50%;

}
#cir3:hover{
    opacity: 50%;

}
#para{
   margin-right:-150px;
   font-size:medium;
}
#hh{
    margin-left: 170px;
    margin-bottom: -100px;
    color: burlywood;
}
#ui{
    margin-top: 200px;
}
#h9{
    position: absolute;
    margin-left: 170px;
    margin-top: 420px;
    color: burlywood;
}
#h0{
    position: absolute;
    margin-left: 150px;
    margin-top: 690px;
    color: burlywood;
}
#tip{
    position: absolute;
    margin-top: -100px;
    margin-left: 50px;

}
/*new4 - makeup*/
#myid{
    font-size: large;
    margin-right: 300px;
   
}
#mymake{
    position: absolute;
    bottom: 200px;
    left: 100px;
    font-size: xx-large;
    color: white;
    letter-spacing: 3px;
    text-shadow: 0 0 3px #ffffff;
}
#ty{
    position: absolute;
}
#im1{
    position: absolute;
   margin-left: 900px;
}
#im2{
    position: absolute;
   margin-left: 900px;
   margin-top: 700px;
}
#im3{
    position: absolute;
   margin-left: 900px;
   margin-top: 1700px;
}

h1{
    margin-left: 100px;
}
.product-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product {
    width: 20%;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.product img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.product h2 {
    margin-top: 0;
}
.product p {
    margin-bottom: 20px;
}
a:hover{
    text-shadow: 0 0 2px #000000;
}
#op{
    text-decoration-line: line-through;
}
#bit{
    background-color: rgb(41, 41, 41);
    height: 300px;
}
form{
   position: absolute;
   margin-top: 100px;
   margin-left: 60px;
   color: #ddd;
}
#nm{
    position: absolute;
    margin-top: 180px;
    margin-left: 890px;
    color: #ddd;
    
}
